@font-face {
    font-family: Oleo;
    src: url(/fonts/Oleo.woff);
}

#fixed_header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

#header {
    display: inline-block;
    background-color: rgb(245, 245, 245);
    width: 100%;
    left: 0;
    top: 0;
    padding-bottom: 20px;
    z-index: 40;
}

#header img {
    display: none;
}

#header h4 {
    font-family: Oleo;
    text-align: center;
    line-height: 1;
}

#search_feature {
    position: relative;
    width: 80%;
    margin: 0 auto;
    vertical-align: top;
    top: 0;
}

#search_bar {
    display: inline-block;
    float: left;
    width: 80%;
    height: 17px;
}

#search_button {
    position: relative;
    float: left;
    color: white;
    background-color: #009FE3;
    height: 23px;
    margin: auto;
}

#div.suggestions {
    position: absolute;
    top: 25px;
    z-index: 50;
    border-color: lightgray;
    background-color; white;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    overflow: auto;
    display: none;
    
}

div.sub_suggestions{
    width: 100%;
    padding: 5px;
}

div.sub_suggestions:hover{
    background-color: rgb(245, 245, 245);
}

#icons_bar {
    width: 100%;
    left: 0;
    border-bottom: solid thin rgb(245, 245, 245);
    background: white;
}

#icons_bar p {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    vertical-align: middle; 
}

#sort_dropdown {
    position: relative;
    -webkit-appearance: none;
    -mox-appearance: none;
    -webkit-border-radius: 0px;
    background: url("/images/black_down_triangle.png") no-repeat right;
    width: 70px;
    height: 25px;
    background-position: 50px 3px;
    background-size: 15px;
    vertical-align: middle;
    border: 1px solid thin rgb(245, 245, 245);
}

#grid_image {
    display: inline-block;
    float: right;
    vertical-align: middle;
    padding: 10px 10px 5px 0px;   
}

#list_image {
    display: inline-block;
    float: right;
    vertical-align: middle;
    padding: 10px 0px 5px 10px;   
}

.movie_list {
    position: relative;
    display: block;
    z-index: 20;
    widows: 100%;
    margin-top: 175px;
    z-index: 1;
}

.grid .movie {
    position: relative;
    float: left;
    margin: 30px 0px 0px 30px;
    height: 200px;
    width: 200px;
    top: 15px;
    left: 15px;
    padding: 6px;
}

.grid .movie img{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    padding: 5px;
    border-color: 1px solid lightgray;
}

.grid .title {
    position: absolute;
    left: 6px;
    bottom: 6px;
    height: 120px;
    width: 200px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.6;  
    line-height: 2;
}

.grid .year {
    position: absolute;
    left: 90px;
    margin-top: 100px;
    color: white;
    opacity: 0.6;
}

.grid .rating {
    display: none;
}

.grid .starring {
    display: none;
}

.grid .movie:hover .starring {
    display: block;
    position: absolute;
    left: 6px;
    bottom: 6px;
    height: 40px;
    width: 200px;
    text-align: left;
    color: white;
    background-color: black;
    opacity: 0.7;
    
}

.grid .description {
    display: none;
}

.list {
    position: relative;
}
                                                                                                                                                                                                                                                                             
#movie_list{
    position: relative;
    display: block;
    top: 150px;
}

#movie_list .list {
    position: relative;
    display: block;
    top: 100px;
}

.list .movie {
    position: relative;
    display: block;
    height: 260px;
    width: 100%;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px solid thin rgb(245, 245, 245);
}

.list .movie img {
    position: absolute;
    height: 220px;
    width: 220px;
    padding: 5px;
}

.list .title {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    left: 250px;
}

.list .year {
    position: absolute;
    display: block;
    font-size: 15px;
    color: gray;
    left: 250px;
}

.list .description {
    position: absolute;
    display: block;
    line-height: 1.5;
    background-color: rgb(236,255,255);
    left: 250px;
}

.grid .true {
    max-height: 30px;
    max-width: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.grid .false {
    display: none;
}

.list .true {
    max-height: 30px;
    max-width: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.list .false {
    display: none;
}

@media all and (min-width: 480px) {
    /*CSS for displays with width equal or larger than 480px*/
    
    #header {
        padding-bottom: 0px;
    }
    #header img {
        display: inline-block;
        width: 40px;
        vertical-align: middle;
    }
    
    #header h4 {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        padding: 0px 10px 0px 10px;
    }
    
    #search_feature {
        display: inline-block;
        vertical-align: middle;
        width: 470px;
    }
    
    #movie_list {
        margin-top: 20px;
    }
    
    .list .description {
        width: 450px;
    }
}



